/* Logo styles */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Ganti warna background navbar */
.navbar {
  background: linear-gradient(90deg, #00255d8e, #4fd7f9);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Ganti warna teks link navbar */
.navbar .nav-link,
.navbar-brand {
  color: #ffffff !important;
}

.navbar .nav-link:hover {
  color: #d1d3e2 !important;
}